FROM ansible/ansible-container-builder:0.2

# Fetch kompose, decomporess, add binary to $PATH
RUN curl -L https://github.com/skippbox/kompose/releases/download/v0.1.0/kompose_linux-amd64.tar.gz -o /tmp/kompose_linux-amd64.tar.gz && tar xzf /tmp/kompose_linux-amd64.tar.gz --strip-components 1 -C /usr/bin/ && rm -f  /tmp/kompose_linux-amd64.tar.gz
